<!DOCTYPE html>
<head>
    <title>
        CreditService
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <section>
        <div style="float:right">
            <span>{{ sid }}</span>
            <span>{{ uuid }}</span>
            <button class="btn"><a href="{% url 'Welcome:index' %}?sid={{sid}}&uuid={{uuid}}">Back</a></button>
            <button class="btn"><a href="{% url 'Authenticator:login' %}">Logout</a></button>
        </div>
        <h1>
            Credit Service
        </h1>
        <div id = "make_payment">
            <form action="{% url 'Welcome:make_payment' %}" method="post">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="loan_id">Loan Id</label>
                    <input type="number" name="loan_id">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount">
                    <input type="submit" value="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </section>
    <footer style="text-align: center;">
        Siddharth Bhatore
    </footer>
</body>