<!DOCTYPE html>
<head>
    <title>Credit Service</title>
</head>
<body>
    <section>
        <h1>
            Credit Service
        </h1>
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post" action="{% url 'Authenticator:index' %}">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email</label>
            <input type="text" name="email">
            <label for="annual_income">Income</label>
            <input type="text" name="annual_income">
            <label for="password"></label>
            <input type="password" name="password">
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </section>
</body>